@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900')
@import "@csstools/normalize.css"

$primary-blue: #1199EE
$secondary-grey: #999999

body
    font-family: "Montserrat"

header
    height: 130px
    border-bottom: 1px solid #ddd
    padding-top: 70px

footer
    height: 50px

section
    padding: 150px
    padding-top: 50px
    padding-bottom: 50px
    font-size: 0

h1
    font-size: 72px
    font-weight: bold
    color: #000
    margin: 0

h2
    font-size: 36px
    font-weight: bold
    color: $primary-blue
    margin: 0
    margin-top: 20px

h3
    font-size: 26px
    font-weight: 600
    color: $secondary-grey
    margin: 0
    margin-top: 20px

h4
    font-size: 60px
    font-weight: bold
    color: #000
    margin: 0

h5
    font-size: 20px
    font-weight: normal
    color: #000
    margin: 0
    margin-top: 10px

.content
    margin-left: auto
    margin-right: auto
    margin-top: 100px
    margin-bottom: 100px
    max-width: 1500px

.col-header-4
    display: inline-block
    width: 40%
    text-align: center

.col-header-2
    display: inline-block
    width: 20%
    text-align: center

.header-links
    font-weight: bold
    color: #000
    text-decoration: none
    padding: 30px
    vertical-align: middle
    transition: .3s
    &:hover
        color: $primary-blue

.header-logo
    width: 80px
    vertical-align: middle
    fill: #000
    transition: .3s
    &:hover
        fill: $primary-blue

.header-icon-a
    padding: 30px

.header-icon
    fill: #000
    transition: .3s
    &:hover
        fill: $primary-blue

.footer-text
    margin-left: 100px
    font-size: 12
    font-weight: 600
    color: #999


// HOME STYLES
.home-content-top
    text-align: center
    margin-top: 200px

.home-content
    margin-top: 250px

.home-block-1
    margin-top: 200px
    text-align: left

.home-block-2
    margin-top: 200px
    text-align: right

.home-block-3
    margin-top: 200px
    text-align: center

.home-leftImage
    // background-image: url()
    // background-color: #ddd
    display: inline-block
    width: 800px
    height: 550px
    vertical-align: middle
    transition: .3s
    &:hover
        background-color: rgba(0,0,0,.3)

.home-rightText
    text-align: left
    display: inline-block
    margin-left: 100px
    // width: 30%
    vertical-align: middle

.home-rightImage
    // background-image: url('/img/web-dev.jpg')
    // background-color: #ddd
    display: inline-block
    width: 800px
    height: 550px
    vertical-align: middle
    transition: .3s
    &:hover
        background-color: rgba(0,0,0,.3)

.home-leftText
    text-align: left
    display: inline-block
    margin-right: 100px
    // width: 30%
    vertical-align: middle

.home-centerImage
    // background-image: url()
    // background-color: #ddd
    width: 100%
    height: 700px
    transition: .3s
    &:hover
        background-color: rgba(0,0,0,.3)

.img-webdev
    background-image: url('../img/web-dev.jpg')
    background-repeat: no-repeat
    background-size: cover

.img-webdes
    background-image: url('../img/web-des.jpg')
    background-repeat: no-repeat
    background-size: cover

.img-laz
    background-image: url('../img/laz-charlotte.jpg')
    background-repeat: no-repeat
    background-size: cover

.img-app
    background-image: url('../img/app-football.jpg')
    background-repeat: no-repeat
    background-size: cover


// PORTFOLIO STYLES
.portfolio-item
    width: 300px
    height: 400px
    background-color: #fff
    margin: 15px
    box-shadow: 0px 10px 40px rgba(0,0,0,.1)
    transition: .2s
    &:hover
        box-shadow: 0px 10px 40px rgba(0,0,0,.2)

.portfolio-item-img
    height: 250px
    background-color: $primary-blue

.portfolio-item-text
    margin-left: 20px
    margin-right: 20px
    margin-top: 25px

.portfolio-item-section
    font-size: 10px
    font-weight: bold
    color: #bbb
    letter-spacing: .5px

.portfolio-item-title
    font-size: 16px
    font-weight: bold
    margin: 0
    margin-bottom: 5px

.portfolio-item-description
    font-size: 12px
    font-weight: 300
    margin: 0

.portfolio-item-view-div
    margin: 0
    margin-top: 15px

.portfolio-item-view
    font-size: 16px
    font-weight: bold
    text-decoration: none
    color: $primary-blue

// ABOUT STYLES
.profile-pic
    width: 180px
    border-radius: 50%
    margin-right: 50px
    box-shadow: 0 3px 26px rgba(0, 0, 0, .1)

.profile-main
    display: inline-block
    vertical-align: middle

.para-type
    font-size: 25px
    font-weight: 400
    line-height: 50px
    max-width: 900px

.about-title
    margin-top: 50px
    font-size: 35px;